@charset "utf-8";
/* CSS Document */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body,
td,
th,
p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  color: #333;
  line-height: 1.5;
}
body {
  background-color: #f8f8f8;
  margin: 0;
  position: relative;
}
ul,
li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  color: #333;
}
a {
  color: black;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #3397db;
  text-decoration: none;
}
a img {
  border: none 0px #fff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
  position: relative;
}
.wrapper {
  max-width: 1440px;
  margin: auto;
}
#maincontent {
  min-height: 100%;
}

#footer {
  color: rgb(82, 82, 82);
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 60px 60px 0 0;
}

.skip-link{
  position: absolute;
  background: #01447e;
  color: white;
  padding: 5px;
  z-index: 3;
  left: 0;
  top: -30px;
}

.skip-link:focus{
  top: 0;
}
/* ====================== Navigation ====================== */
nav {
  width: 100%;
  height: 80px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav h1 {
  margin: auto;
}
nav h1 a {
  color: #252831;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}

#breadcrumb {
  padding: 10px 40px 16px;
  list-style: none;
  background: linear-gradient(to right, #5ee7ded3 0%, #b490cadc 100%);
  margin: 0;
  position: absolute;
  z-index: 3;
  top: 450px;
  border-radius: 50px;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  color: white;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}

/* Display list items side by side */
#breadcrumb li {
  display: inline;
  color: black;
  font-size: 17px;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li + li:before {
  padding: 8px;
  color: white;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  padding: 0;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
  color: #01447e;
  text-decoration: none;
}
/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 95%;
  background-color: #ccc;
  border-radius: 50px;
  box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin: auto;
}

#map a{
  color: black;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 60%;
  background-image: linear-gradient(to right, #5ee7ded3 0%, #b490cadc 100%);
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 250px;
  position: absolute;
  top: -30px;
  z-index: 1;
  left: 50%;
  transform: translate(-50%);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}
.filter-options h2 {
  color: white;
  font-size: 1.2rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 0px;
  width: 20%;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial, sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 30%;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  list-style: outside none none;
  margin: 0;
  padding: 50px 15px 60px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-size: cover;
}
#restaurants-list li {
  background-color: #fff;
  border-radius: 10px;
  font-family: Arial, sans-serif;
  margin: 20px;
  min-height: 380px;
  text-align: left;
  width: 270px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  position: relative;
}

#restaurants-list li:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transform: translate(0, -1%);
}

#restaurants-list .restaurant-img {
  display: block;
  margin: 0;
  max-width: 100%;
  min-width: 100%;
  border-radius: 9px 9px 0 0;
}
#restaurants-list li h1 {
  color: #4c365a;
  font-family: Arial, sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  text-transform: uppercase;
  margin: 10px 10px;
}
#restaurants-list p {
  font-size: 11pt;
  margin: 0px 10px;
}
#restaurants-list li a {
  background: #745886;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
  position: absolute;
  bottom: 3%;
  left: 5%;
  border-radius: 7px;
}

/* ====================== Restaurant Details ====================== */
.inside header {
  width: 100%;
  position: relative;
}

.inside #map-container {
  height: 400px;
  position: relative;
  width: 95%;
  margin: auto;
}
.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}
.inside #footer {
  width: 100%;
}
#restaurant-name {
  color: #4c365a;
  font-family: Arial, sans-serif;
  font-size: 15pt;
  font-weight: 200;
  letter-spacing: 5px;
  margin: 15px 0 50px;
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-img {
  width: 100%;
  border-radius: 20px;
  box-shadow: 5px 5px 30px 0px rgba(0, 0, 0, 0.2);
}
.info-container {
  display: flex;
  justify-content: space-between;
}

#restaurant-address {
  font-size: 11pt;
  background-image: linear-gradient(
    to left,
    #c4c5c7 0%,
    #dcdddf 52%,
    #ebebeb 100%
  );
  padding: 17px 20px;
  border-radius: 50px;
  width: 62%;
  text-align: center;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  margin: auto;
  color: gray;
}
#restaurant-cuisine {
  background: linear-gradient(to right, #868f96 0%, #596164 100%);
  color: #ddd;
  font-size: 9pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 20px 0 20px;
  padding: 20px 0;
  text-align: center;
  text-transform: uppercase;
  border-radius: 50px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  width: 35%;
}
.rest-container {
  display: flex;
  flex-wrap: wrap;  
  padding: 0 50px;
}

#restaurant-container {
  padding: 60px 40px 30px;
  width: 50%;
}

#restaurant-hours {
  width: 100%;
  text-align: center;
  padding: 15px;
  border-radius: 20px;
  background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);  
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.13);
}

#reviews-container {
  padding: 160px 40px 80px;
  width: 50%;
}
#reviews-container h2 {
  color: black;
  font-size: 17pt;
  font-weight: 200;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}
#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-list li {
  background-color: rgba(255, 255, 255, 0.425);
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  padding: 20px;
  position: relative;
  width: 100%;
  border-radius: 20px;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.062); 
}
#reviews-list li p {
  margin: 0 0 10px;
  color: black;
  letter-spacing: 0.7px;
}
#restaurant-hours td {
  color: #666;
  padding: 5px;
  font-size: 17px;
}

/* tablet version */

@media screen and (max-width: 800px) {
  .filter-options {
    width: 75%;
  }

  .filter-options h2 {
    font-size: 1rem;
  }
  
  #restaurant-container {
    width: 100%;
  }
  
  #reviews-container{
    width: 100%;
    padding: 20px 40px 40px;
  }
  
  #reviews-list li{
    width: 100%;
  }
}

/* mobile version */
@media screen and (max-width: 600px) {
  body {
    background-color: white;
  }
  nav h1 a {
    font-size: 13px;
  }
  
  #restaurant-name{
    font-size: 13pt; 
    letter-spacing: 0; 
  }
  
  #maincontent {
    background: #f7f7f7;
    border-radius: 50px;
  }

  #map {
    width: 100%;
    border-radius: 40px;
  }

  .filter-options {
    border-radius: 0 0 50px 50px;
    width: 100%;
    top: -35px;
    z-index: 0;
    position: relative;
  }
  
  #breadcrumb{
    border-radius: 0 0 50px 50px;
    width: 100%;
    z-index: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-end;
    height: 90px;
  }
  
  .rest-container{
    padding: 50px 0;
  }
  
  #restaurant-cuisine{
    width: 100%;
  }
  
  #reviews-list li{
    width: 100%;  
  }
  
  #restaurant-address{
    width: 100%;
    margin-bottom: 20px; 
    font-size: 9pt;
  }
  
  #restaurant-hours td {
    color: #666;
    padding: 5px;
    font-size: 15px;
  }
  
  #reviews-list li p {
    margin: 0 0 10px;
    color: rgb(70, 70, 70);
    letter-spacing: 0.7px;
    font-size: 12px;
  }
  
  #reviews-container{
    padding: 20px 40px 0;
  }
  
  .info-container{
    flex-wrap: wrap;
  }
  
  .inside #map-container{
    width: 100%;
  }

  .filter-options h2 {
    width: 80%;
    text-align: left;
    margin-top: 50px;
  }

  .filter-options select {
    width: 38%;
    font-size: 9pt;
    margin-bottom: 15px;
  }

  #restaurants-list {
    padding: 0 15px 0;
  }

  #footer {
    border-radius: 0;
    font-size: 5pt;
  }
}